.main-bg { -fx-background-color: #f0f3f9; }

.header-title { -fx-font-family: "System"; -fx-font-size: 28px; -fx-font-weight: bold; -fx-text-fill: #1e293b; }
.header-subtitle { -fx-font-size: 15px; -fx-text-fill: #64748b; }

.filter-box {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.06), 15, 0, 0, 8);
}
.filter-label { -fx-font-weight: bold; -fx-text-fill: #475569; -fx-font-size: 15px; }

/* Input và Button */
.btn-primary {
    -fx-background-color: linear-gradient(to bottom right, #478dff, #146dff);
    -fx-text-fill: white; -fx-font-weight: bold; -fx-background-radius: 10; -fx-cursor: hand; -fx-font-size: 15px;
}

/* --- KPI CARDS (Đã thu nhỏ lại một chút để xếp dọc) --- */
.kpi-card {
    -fx-background-radius: 18;
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 18, 0, 0, 9);
    -fx-min-height: 120;
    -fx-spacing: 12;
}
.card-revenue { -fx-background-color: linear-gradient(to bottom right, #00b09b, #96c93d); }
.card-rentals { -fx-background-color: linear-gradient(to bottom right, #4facfe, #00f2fe); }
.card-customers { -fx-background-color: linear-gradient(to bottom right, #f83600, #f9d423); }

.kpi-title { -fx-text-fill: rgba(255,255,255,0.9); -fx-font-size: 16px; -fx-font-weight: bold; }
.kpi-value { -fx-text-fill: white; -fx-font-size: 32px; -fx-font-weight: 900; }

/* --- Chart Container --- */
.chart-container {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 20, 0, 0, 10);
}

/* Custom cột biểu đồ */
.default-color0.chart-bar {
    -fx-bar-fill: #478dff;
    -fx-background-radius: 8 8 0 0;
}
.chart-plot-background { -fx-background-color: transparent; }
.chart-horizontal-grid-lines { -fx-stroke: #e2e8f0; -fx-stroke-dash-array: 5 5; }


.default-color0.chart-pie { -fx-pie-color: #3b82f6; } /* Tay ga */
.default-color1.chart-pie { -fx-pie-color: #10b981; } /* Xe số */
.default-color2.chart-pie { -fx-pie-color: #f59e0b; } /* Xe côn */
.chart-pie-label { -fx-fill: #475569; -fx-font-size: 13px; -fx-font-weight: bold; }


