/* Container & Nền */
.rule-page-container {
    -fx-background-color: #f8fafc;
}

/* Typography */
.header-title {
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-text-fill: #1e293b;
}

.section-title {
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #1e293b;
}

.btn-new {
   -fx-background-radius: 10;
   -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 15, 0, 0, 10);
   -fx-background-color: linear-gradient(to bottom right, #478dff, #146dff);
   -fx-cursor: hand;
}

.btn-new: hover {
    -fx-background-color: #0052cc
}

/* Thanh Tìm Kiếm */
.search-field {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #cbd5e1;
    -fx-padding: 0 10;
    -fx-font-size: 14px;
}
.btn-search {
    -fx-background-color: #0ea5e9;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.btn-refresh {
    -fx-background-color: #64748b;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

/* Loại bỏ viền của ScrollPane */
.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* Thẻ Card */
.rule-card {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 5);
    -fx-border-color: #e2e8f0;
    -fx-border-radius: 15;
}
.rule-card:hover {
    -fx-border-color: #4f46e5;
}

.badge-type {
    -fx-background-color: #e0e7ff;
    -fx-text-fill: #4338ca;
    -fx-padding: 4 10;
    -fx-background-radius: 8;
    -fx-font-weight: bold;
    -fx-font-size: 11px;
}
.text-multi {
    -fx-font-weight: bold;
    -fx-font-size: 26px;
    -fx-text-fill: #10b981;
}
.btn-edit {
    -fx-background-color: #f59e0b;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}
.btn-delete {
    -fx-background-color: #ef4444;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}