.root {
    -fx-background-color: #f4f7f6;
    -fx-font-family: "Segoe UI", Arial, sans-serif;
}
.card-blue {
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 15, 0, 0, 10);
    -fx-background-color: linear-gradient(to bottom right, #478dff, #146dff);
}

.card-green {
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 15, 0, 0, 10);
    -fx-background-color: linear-gradient(to bottom right, #34d399, #10b981);
}

.card-purple {
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 15, 0, 0, 10);
    -fx-background-color: linear-gradient(to bottom right, #a855f7, #7c3aed);
}

.card-orange {
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 15, 0, 0, 10);
    -fx-background-color: linear-gradient(to bottom right, #fb923c, #f97316);
}

.card-title {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-opacity: 0.9;
}

.card-value {
    -fx-text-fill: white;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.card-sub {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-opacity: 0.8;
}

.card-icon {
    -fx-text-fill: white;
    -fx-font-size: 45px;
    -fx-opacity: 0.25;
}

.alert-red {
    -fx-background-radius: 10;
    -fx-border-width: 0 0 0 3;
    -fx-border-radius: 10;
    -fx-background-color: #fff1f2;
    -fx-border-color: #ef4444;
}

.alert-yellow {
    -fx-background-radius: 10;
    -fx-border-width: 0 0 0 3;
    -fx-border-radius: 10;
    -fx-background-color: #fffbeb;
    -fx-border-color: #f59e0b;
}

.alert-blue {
    -fx-background-radius: 10;
    -fx-border-width: 0 0 0 3;
    -fx-border-radius: 10;
    -fx-background-color: #eff6ff;
    -fx-border-color: #3b82f6;
}

.table_container {
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 5);
}
.table_container .text {
    -fx-font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-fill: #333333;
}
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #E0E0E0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: #888888;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 10px;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 10px;
    -fx-font-size: 14px;
}

.table-row-cell {
    -fx-cell-size: 55px;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #F0F0F0;
}

.table-row-cell:hover {
    -fx-background-color: #F9F9F9;
}
.btn-new {
   -fx-background-radius: 10;
   -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 15, 0, 0, 10);
   -fx-background-color: linear-gradient(to bottom right, #478dff, #146dff);
   -fx-cursor: hand;
}

.btn-new: hover {
    -fx-background-color: #0052cc
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #E0E0E0;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.table-view .column-header .label {
    -fx-text-fill: #888888;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}


.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 10px;
    -fx-font-size: 14px;
}


.table-row-cell {
    -fx-cell-size: 55px;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #F0F0F0;
}
.table-row-cell:hover {
    -fx-background-color: #F9F9F9;
}


.status-pill {
    -fx-padding: 5px 12px;
    -fx-background-radius: 15px;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.status-blue {
    -fx-background-color: #E8F0FE;
    -fx-text-fill: #1A73E8;
}
.status-yellow {
    -fx-background-color: #FEF7E0;
    -fx-text-fill: #F29900;
}
.status-green {
    -fx-background-color: #E6F4EA;
    -fx-text-fill: #1E8E3E;
}
.status-gray {
    -fx-background-color: #F1F3F4;
    -fx-text-fill: #5F6368;
}


.btn-action {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-size: 18px;
}
.btn-view {
    -fx-text-fill: #1A73E8;
}
.btn-print {
    -fx-text-fill: #1E8E3E;
}

.btn-action {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 5;
    -fx-background-radius: 5;
}

.btn-action:hover {
    -fx-background-color: #F0F0F0;
}


.btn-action:pressed {
    -fx-background-color: #E0E0E0;
}


